@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 2cm;

    @top-left {
      content: "Backpack";
      font-family: var(--font-mono, monospace);
    }

    @top-right {
      content: "";
      font-family: var(--font-mono, monospace);
    }

    @bottom-right {
      content: counter(page) " van " counter(pages);
      font-family: var(--font-mono, monospace);
    }
  }

  html {
    zoom: calc(9 / --base-font-size);
  }

  .print-two-column {
    column-count: 2;
    column-gap: 1cm;
    column-fill: auto;
  }
}