[Unit]
Description=backpack server
After=network.target

[Service]
Type=simple
DynamicUser=yes
EnvironmentFile=-/etc/default/backpack
ExecStart=/usr/local/bin/backpack -stderrthreshold=INFO
Restart=on-failure
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
