.BringListView-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BringListView-headerInput {
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  border-width: 1px;
  border-color: rgba(127, 127, 127, 0);
  margin: 0.5em;
  font-family: inherit;
}

.BringListView-headerInputEmpty {
  border: solid 1px grey;
}

.BringListView-link {
  color: #61dafb;
}

.BringListView-noVerticalMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.BringListView-smallVerticalMargin {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.BringListView-settingsContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.BringListView-tagListContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 10px;
  /* Erase the margin on the children and put the margin on the container */
}

.BringListView-tagListHeader,
.BringListView-nightsHeader,
.BringListView-tagList,
.BringListView-nightsInput,
.BringListView-resetButtonHeader,
.BringListView-resetButton {
  display: inline-flex;
}

.BringListView-resetButtonConfirming {
  font-weight: bold;
  color: red;
}

.BringListView-nightsInput {
  margin-left: 1em;
  max-width: 10ex;
}

.BringListView-tagListNoneSelected {
  display: none;
}

.BringListView-tagList {
  /* Undo list padding */
  padding-left: 0;
  flex-wrap: wrap;
  margin: 0;
}

.BringListView-tag {
  display: inline-flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: solid 1px black;
  color: #000000;
  font-weight: 500;
  margin: 2px;
  padding: 2px 4px;
  transition: background-color 0.1s, color 0.1s;
}

.BringListView-tag:hover {
  text-decoration: underline;
}

.BringListView-tag.BringListView-tag-selected {
  background-color: #5cfa5c;
  color: #000000;
}

@media print {
  .BringListView-tagListNoneSelected {
    display: inline-flex;
  }

  .BringListView-tag {
    display: none;
  }

  .BringListView-tag.BringListView-tag-selected {
    display: inline-flex;
  }
}

@media print {
  .BringListView-resetButtonContainer {
    display: none;
  }
}

@media print {
  .BringListView-bringListCategoryContainer {
    page-break-inside: avoid;
  }
}

@keyframes highlightBLIChange {
  from {
    background-color: #fdffd3;
  }

  to {
    background-color: transparent;
  }
}

.BringListView-bringListCategory {
  padding-left: 0;
  list-style: none outside;
  animation: highlightBLIChange 1s linear running;
}

.BringListView-bringListItem {
  display: flex;
  flex-direction: row;
  width: fit-content;
  vertical-align: middle;
  animation: fadein 0.1s linear;
}

.BringListView-BringListExplain {
  font-size: small;
  font-weight: normal;
  color: darkgray;
  vertical-align: middle;
  margin-inline: 1em;
  display: none;
}

.BringListView-BringListExplainTrue {
  color: darkgreen;
}

.BringListView-BringListExplainFalse {
  color: darkred;
}

.BringListView-bringListCategoryContainer:hover .BringListView-bringListCategoryHeader .BringListView-BringListExplain {
  display: inline;
}

.BringListView-bringListItem:hover .BringListView-BringListExplain {
  display: inline;
}

.BringListView-bringListItemStriked {
  text-decoration: line-through;
}

@media print {
  .BringListView-bringListItemStriked {
    display: none;
  }
}

.BringListView-bootstrapCross {
  margin: 0 auto;
  color: red;
  opacity: 0.5;
}

.BringListView-bootstrapCross:hover {
  opacity: 1.0;
}

@media print {
  .BringListView-bootstrapCross {
    display: none;
  }
}

.BringListView-bootstrapCrossActive {
  opacity: 1.0;
}

.BringListView-bringListItemCheckbox {
  margin-right: 1ex;
}

@media print {
  .BringListView-bringList {
    columns: 2;
  }
}
