.BringListEdit-textarea {
    field-sizing: content;
    width: 100%;
    min-height: 50em;
    border: solid 1px grey;
    padding: 4px;
}

.BringListEdit-CompileStatus {
    font-weight: 600;
}

.BringListEdit-CompileOk {
    color: green;
}

.BringListEdit-CompileErr {
    color: red;
}

.BringListEdit-CompileWarn,
.BringListEdit-CompileInfo {
    color: darkblue;
}