.link {
  color: #61dafb;
}

.noVerticalMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.smallVerticalMargin {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.settingsContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tagListContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 10px;
  /* Erase the margin on the children and put the margin on the container */
}

.tagListHeader,
.nightsHeader,
.tagList,
.nightsInput,
.resetButtonHeader,
.resetButton {
  display: inline-flex;
}

.resetButtonConfirming {
  font-weight: bold;
  color: red;
}

.nightsInput {
  margin-left: 1em;
  max-width: 10ex;
}

.tagListNoneSelected {
  display: none;
}

.tagList {
  /* Undo list padding */
  padding-left: 0;
  flex-wrap: wrap;
  margin: 0;
}

.tag {
  display: inline-flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: solid 1px black;
  color: #000000;
  font-weight: 500;
  margin: 2px;
  padding: 2px 4px;
  transition: background-color 0.1s, color 0.1s;
}

.tag:hover {
  text-decoration: underline;
}

.tag.tag-selected {
  background-color: #5cfa5c;
  color: #000000;
}

@media print {
  .tagListNoneSelected {
    display: inline-flex;
  }

  .tag {
    display: none;
  }

  .tag.tag-selected {
    display: inline-flex;
  }
}

@media print {
  .resetButtonContainer {
    display: none;
  }
}

@media print {
  .bringListCategoryContainer {
    page-break-inside: avoid;
  }
}

@keyframes highlightBLIChange {
  from {
    background-color: #fdffd3;
  }

  to {
    background-color: transparent;
  }
}

.bringListCategory {
  padding-left: 0;
  list-style: none outside;
  animation: highlightBLIChange 1s linear running;
}

.bringListItem {
  display: flex;
  flex-direction: row;
  width: fit-content;
  vertical-align: middle;
  animation: fadein 0.1s linear;
}

.BringListExplain {
  font-size: small;
  font-weight: normal;
  color: darkgray;
  vertical-align: middle;
  margin-inline: 1em;
  display: none;
}

.BringListExplainTrue {
  color: darkgreen;
}

.BringListExplainFalse {
  color: darkred;
}

.bringListCategoryContainer:hover .bringListCategoryHeader .BringListExplain {
  display: inline;
}

.bringListItem:hover .BringListExplain {
  display: inline;
}

.bringListItemStriked {
  text-decoration: line-through;
}

@media print {
  .bringListItemStriked {
    display: none;
  }
}

.bootstrapCross {
  margin: 0 auto;
  color: red;
  opacity: 0.5;
}

.bootstrapCross:hover {
  opacity: 1.0;
}

@media print {
  .bootstrapCross {
    display: none;
  }
}

.bootstrapCrossActive {
  opacity: 1.0;
}

.bringListItemCheckbox {
  margin-right: 1ex;
}