.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerInput {
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
    border-width: 1px;
    border-color: rgba(127, 127, 127, 0);
    margin: 0.5em;
    font-family: inherit;
}

.headerInputEmpty {
    border-color: rgba(127, 127, 127, 255);
}

.navContainer {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0.5em;
    width: 100%;
    justify-content: space-around;
}

.navItem {
    display: flex;
    align-items: center;
    padding: auto;
    height: 100%;
}

.navRight {
    margin-left: auto;
}

.navUser {
    text-decoration: underline;
}
.navUser:hover {
    cursor: pointer;
    text-decoration: none;
}

.navUserAvatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 0.5em;
}

.navLinkActive {
    color: inherit;
    text-decoration: none;
}