.App {
  font-family: monospace;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-headerInput {
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  border-width: 1px;
  border-color: rgba(127, 127, 127, 0);
  margin: 0.5em;
  font-family: inherit;
}

.App-headerInput:hover {
  border-color: rgba(127, 127, 127, 255);
}

.App-link {
  color: #61dafb;
}

.App-tagListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 10px;
}

.App-tagListHeader, .App-daysHeader, .App-tagList, .App-daysInput {
  display: inline-flex;
}

.App-daysInput {
  margin-left: 1em;
  max-width: 10ex;
}

.App-tagListNoneSelected {
  display: none;
}

.App-tagList {
  /* Undo list padding */
  padding-left: 0;
}

.App-tag {
  display: inline-flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: solid 1px black;
  color: #000000;
  font-weight: 500;
  margin: 2px;
  padding: 2px 4px;
  transition: background-color 0.1s, color 0.1s;
}

.App-tag:hover {
  text-decoration: underline;
}

.App-tag.App-tag-selected {
  background-color: #5cfa5c;
  color: #000000;
}

@media print {
  .App-tagListNoneSelected {
    display: inline-flex;
  }

  .App-tag {
    display: none;
  }

  .App-tag.App-tag-selected {
    display: inline-flex;
  }
}

@media print {
  .App-bringListCategoryContainer {
    page-break-inside: avoid;
  }
}

@keyframes highlightBLIChange {
  from {
    background-color: #fdffd3;
  }

  to {
    background-color: transparent;
  }
}

.App-bringListCategory {
  padding-left: 0;
  list-style: none outside;
  animation: highlightBLIChange 1s linear running;
}

.App-bringListItem {
  display: flex;
  flex-direction: row;
  width: fit-content;
  vertical-align: middle;
  animation: fadein 0.1s linear;
}

.App-BringListExplain {
  font-size: small;
  color: darkgray;
  vertical-align: middle;
  margin-inline: 1em;
  display: none;
}

.App-BringListExplainTrue {
  color: darkgreen;
}
.App-BringListExplainFalse {
  color: darkred;
}

.App-bringListCategoryContainer:hover .App-bringListCategoryHeader .App-BringListExplain {
  display: inline;
}

.App-bringListItem:hover .App-BringListExplain {
  display: inline;
}

.App-bringListItemStriked {
  text-decoration: line-through;
}

@media print {
  .App-bringListItemStriked {
    display: none;
  }
}

.App-bootstrapCross {
  margin: 0 auto;
  color: red;
  opacity: 0.5;
}

.App-bootstrapCross:hover {
  opacity: 1.0;
}

@media print {
  .App-bootstrapCross {
    display: none;
  }
}

.App-bootstrapCrossActive {
  opacity: 1.0;
}

.App-bringListItemCheckbox {
  margin-right: 1ex;
}