.App {
  font-family: monospace;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.App-tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 10px;
  /* background-color: lightblue; */
}

.App-tag {
  display: inline-flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: solid 1px black;
  color: #000000;
  font-size: 18px;
  margin: 2px;
  padding: 2px 4px;
}

.App-tag:hover {
  text-decoration: underline;
}

.App-tag.App-tag-selected {
  background-color: #ff9d00;
  color: #000000;
}

.App-bringListCategory {
  padding-left: 0;
  list-style: none outside;
}

.App-bringListItemCheckbox {
  margin-right: 1ex;
}